$BabyBlue:#B1D4E0;
$Blue:#2E8BC0;
$DarkBlue:#0C2D48;
$MidnightBlue:#145DA0;

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #BFD7ED;
}

